<div class="">
<style type="text/css"><!--
.addo-pods {
    padding-top: 30px;
}    
.addo-pods h2 {
        margin: 0 0 20px;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0.2px;
        text-align: center;
    }

    .addo-pods ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px auto 40px;
        padding: 0 20px;
        max-width: 1024px;
    }

    .addo-pods ul li {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        width: calc(100% / 3 - 10px);
        border: solid 1px #d4d4d4;
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.3s;
        opacity: 1;
    }

    .addo-pods ul li:hover {
        opacity: 0.5
    }

    .addo-pods ul li h3 {
        margin: 0;
        padding: 0;
    }

    .addo-pods ul li img {
        display: block;
        width: 100%;
    }


    @media (min-width: 768px) {

        .addo-pods ul {
            padding: 0 20px;
        }

        .addo-pods ul li {
            margin: 0 0 10px;
            width: calc(100% / 7 - 10px);
        }

    }


    @media (min-width: 1024px) {

        .addo-pods ul {
            margin: 20px auto 40px;
            padding: 0;
        }

        .addo-pods ul li {
            margin: 0 0 20px;
            width: calc(100% / 7 - 15px);
        }
    }
h2{
color:  #407ec9;
}
--></style>  <div class="addo-pods">

  <h2>{{ collection.title }}</h2>
  {{ collection.description }}
  
  
<h2>Shop By Brands</h2>
<ul>
    <li> <a href="https://www.theentertainer.pk/collections/addo-addo-games" title="Addo - Addo Games">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-addo-games.jpg?v=1694511937"
                    border="0" alt="Addo - Addo Games" title="Addo - Addo Games"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-awesome-animals" title="Addo - Awesome Animals">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-awesome-animals.jpg?v=1694511937"
                    border="0" alt="Addo - Awesome Animals" title="Addo - Awesome Animals"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-be-my-baby" title="Addo - Be My Baby">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-be-my-baby.jpg?v=1694511937"
                    border="0" alt="Addo - Be My Baby" title="Addo - Be My Baby"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-bobble-it" title="Addo - Bobble It">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-bobble-it.jpg?v=1694511937"
                    border="0" alt="Addo - Bobble It" title="Addo - Bobble It"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-busy-me" title="Addo - Busy Me">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-busy-me.jpg?v=1694511937"
                    border="0" alt="Addo - Busy Me" title="Addo - Busy Me"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-nickelodeon-experimake" title="Addo - Nickelodeon Experimake">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-nickelodeon-experimake.jpg?v=1694511937"
                    border="0" alt="Addo - Nickelodeon Experimake" title="Addo - Nickelodeon Experimake"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-fuggler" title="Addo - Fuggler">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-fuggler.jpg?v=1694511937"
                    border="0" alt="Addo - Fuggler" title="Addo - Fuggler"></h3>
        </a> </li>
    <li> <a href="#" title="Addo - H2Oh! Bath Bombs">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/202211-H2OH-TEwebsite-Banner-P13-v1-POD.jpg?v=1694511937"
                    border="0" alt="Addo - H2Oh! Bath Bombs" title="Addo - H2Oh! Bath Bombs"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-jojo-siwa" title="Addo - JoJo Siwa">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-jojo-siwa.jpg?v=1694511937"
                    border="0" alt="Addo - JoJo Siwa" title="Addo - JoJo Siwa"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-little-lot" title="Addo - Little Lot">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-little-lot.jpg?v=1694511937"
                    border="0" alt="Addo - Little Lot" title="Addo - Little Lot"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-out-and-about" title="Addo - Out and About">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-out-and-about.jpg?v=1694511937"
                    border="0" alt="Addo - Out and About" title="Addo - Out and About"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-out-of-the-box" title="Addo - Out of the Box">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-out-of-the-box.jpg?v=1694511936"
                    border="0" alt="Addo - Out of the Box" title="Addo - Out of the Box"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-out-to-impress" title="Addo - Out to Impress">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-out-to-impress.jpg?v=1694511936"
                    border="0" alt="Addo - Out to Impress" title="Addo - Out to Impress"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-pitter-patter-pets" title="Addo - Pitter Patter Pets">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-pitter-patter-pets.jpg?v=1694511936"
                    border="0" alt="Addo - Pitter Patter Pets" title="Addo - Pitter Patter Pets"></h3>
        </a> </li>
    <li> <a href="#" title="Addo - Ready Steady Dough">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-ready-steady-dough.jpg?v=1694511936"
                    border="0" alt="Addo - Ready Steady Dough" title="Addo - Ready Steady Dough"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-rfriends" title="Addo - #RFriends">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-rfriends.jpg?v=1694511937"
                    border="0" alt="Addo - #RFriends" title="Addo - #RFriends"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-sandsational" title="Addo - Sandsational">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-sandsational.jpg?v=1694511936"
                    border="0" alt="Addo - Sandsational" title="Addo - Sandsational"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-snuggle-buddies" title="Addo - Snuggle Buddies">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-snuggle-buddies.jpg?v=1694511936"
                    border="0" alt="Addo - Snuggle Buddies" title="Addo - Snuggle Buddies"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-stormblasters" title="Addo - Stormblasters">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-storm-blasters.jpg?v=1694511937"
                    border="0" alt="Addo - Stormblasters" title="Addo - Stormblasters"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-unique-boutique" title="Addo - Unique Boutique">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-unique-boutique.jpg?v=1694511937"
                    border="0" alt="Addo - Unique Boutique" title="Addo - Unique Boutique"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-woodlets" title="Addo - Woodlets">
            <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/addo-pod-woodlets.jpg?v=1694511937"
                    border="0" alt="Addo - Woodlets" title="Addo - Woodlets"></h3>
        </a> </li>
</ul>
</div>
</div>