<div class="">
<style type="text/css"><!--
.addo-pods {
    padding-top: 30px;
}    
.addo-pods h2 {
        margin: 0 0 20px;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0.2px;
        text-align: center;
    }

    .addo-pods ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px auto 40px;
        padding: 0 20px;
        max-width: 1024px;
    }

    .addo-pods ul li {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        width: calc(100% / 3 - 10px);
        border: solid 1px #d4d4d4;
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.3s;
        opacity: 1;
    }

    .addo-pods ul li:hover {
        opacity: 0.5
    }

    .addo-pods ul li h3 {
        margin: 0;
        padding: 0;
    }

    .addo-pods ul li img {
        display: block;
        width: 100%;
    }


    @media (min-width: 768px) {

        .addo-pods ul {
            padding: 0 20px;
        }

        .addo-pods ul li {
            margin: 0 0 10px;
            width: calc(100% / 7 - 10px);
        }

    }


    @media (min-width: 1024px) {

        .addo-pods ul {
            margin: 20px auto 40px;
            padding: 0;
        }

        .addo-pods ul li {
            margin: 0 0 20px;
            width: calc(100% / 4 - 15px);
        }
    }
h2{
color:  #407ec9;
}
--></style>  <div class="addo-pods">

  <h2>{{ collection.title }}</h2>
  {{ collection.description }}
  
  
<h2>Shop By Brands</h2>
<ul>
    <!--li> <a href="https://www.theentertainer.pk/collections/lego-chima-1" title="Lego - Lego Chima">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-15.jpg?v=1678269514"
          border="0" alt="Lego - Lego Chima" title="Lego - Lego Chima"></h3>
        </a> </li-->
    <li> <a href="https://www.theentertainer.pk/collections/lego-duplo-1" title="Lego - Duplo">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-12.jpg?v=1678269514"
          border="0" alt="Lego - Duplo" title="Lego - Duplo"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/lego-friends-1" title="Lego - Friends">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-10.jpg?v=1678269513"
          border="0" alt="Lego - Friends" title="Lego - Friends"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/lego-classic-1" title="Lego - Classic">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-08.jpg?v=1678269513"    
          border="0" alt="Lego - Classic" title="Lego - Classic"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/lego-technic-1" title="Lego - Technic">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-03.jpg?v=1678269513"  
          border="0" alt="Lego - Technic" title="Lego - Technic"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/lego-city-1" title="Lego - City">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-06.jpg?v=1678269513"  
          border="0" alt="Lego - City" title="Lego - City"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/lego-ninjago-1" title="Lego - Ninjago">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-11.jpg?v=1678269513"   
          border="0" alt="Lego - Ninjago" title="Lego - Ninjago"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/lego-super-heroes-1" title="Lego - Super Heroes">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-14.jpg?v=1678269513"   
          border="0" alt="Lego - Super Heroes" title="Lego - Super Heroes"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/lego-disney-princess-1" title="Lego - Princess">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-07.jpg?v=1678269513"  
          border="0" alt="Lego - Princess" title="Lego - Princess"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/lego-creator-1" title="Lego - Creator">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-04.jpg?v=1678269513"   
          border="0" alt="Lego - Creator" title="Lego - Creator"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/lego-super-mario-1" title="Lego - Super Mario">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-01.jpg?v=1678269513"  
          border="0" alt="Lego - Super Mario" title="Lego - Super Mario"></h3>
        </a> </li>
    <!--li> <a href="https://www.theentertainer.pk/collections/lego-speed-champions-1" title="Lego - Speed Champion">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-05.jpg?v=1678269513"    
          border="0" alt="Lego - Speed Champion" title="Lego - Speed Champion"></h3>
        </a> </li-->
    <!--li> <a href="https://www.theentertainer.pk/collections/lego-jurassic-world-1" title="Lego - Jurassic WOrld">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-09.jpg?v=1678269513"   
          border="0" alt="Lego - Jurassic WOrld" title="Lego - Jurassic World"></h3>
        </a> </li-->
    <li> <a href="https://www.theentertainer.pk/collections/lego-architecture-1" title="Lego - Architecture">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/lego_sub_brands_200x172-13.jpg?v=1678269513"   
          border="0" alt="Lego - Architecture" title="Lego - Architecture"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/lego-star-wars" title="Lego - Star Wars">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/image_2023_07_12T06_47_21_930Z.png?v=1689145220"  
          border="0" alt="Lego - Star Wars" title="Lego - Star Wars"></h3>
        </a> </li>
<!--     <li> <a href="https://www.theentertainer.pk/collections/addo-rfriends" title="Lego - #RFriends">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/Outdoor-320x320.jpg?v=1677857862" 
          border="0" alt="Lego - #RFriends" title="Lego - #RFriends"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-sandsational" title="Addo - Sandsational">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/barbie_320x320_09c8cfb2-1761-4cec-97f2-a76b1a60d50f.jpg?v=1677857813"   
          border="0" alt="Addo - Sandsational" title="Addo - Sandsational"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-snuggle-buddies" title="Addo - Snuggle Buddies">
    <h3><img src="https://cdn.shopify.com/s/files/1/0668/5120/9465/files/elc-534x303_2.jpg?v=1677857743"   
          border="0" alt="Addo - Snuggle Buddies" title="Addo - Snuggle Buddies"></h3>
        </a> </li> -->
<!--     <li> <a href="https://www.theentertainer.pk/collections/addo-stormblasters" title="Addo - Stormblasters">
    <h3><img src=""  
          border="0" alt="Addo - Stormblasters" title="Addo - Stormblasters"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-unique-boutique" title="Addo - Unique Boutique">
    <h3><img src=""  
          border="0" alt="Addo - Unique Boutique" title="Addo - Unique Boutique"></h3>
        </a> </li>
    <li> <a href="https://www.theentertainer.pk/collections/addo-woodlets" title="Addo - Woodlets">
    <h3><img src=""   
          border="0" alt="Addo - Woodlets" title="Addo - Woodlets"></h3>
        </a> </li> -->
</ul>
</div>
</div>