  <script src="{{ 'XSTAK_PAY.js'| asset_url }}"defer ></script>
<div class="page-width">
  <h1 style="text-align: center; display:none;" class="title-confirmed">Thank You!</h1>
<h1 style="text-align: center; display:none;" class="title-cancelled">Your order has been Cancelled!</h1>
  <p style="text-align: center; display:none;" class="confirmed"> Your Order Number </p>
   <p style="text-align: center; display:none;" class="confirmed-text"> Happy Shopping! </p>
   <p style="text-align: center; display:none;" class="cancelled"> Your Order Number </p>
  <p style="text-align: center; display:none;" class="cancelled-text"> Please place a new order </p>
</div>